* {
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
    background-color: #F8F8F8;
}

.header {
    display: flex;
    width: 100vw;
    height: 60px;
    padding: 0px max(20px, 25vw - 200px);
    border-bottom: 1px solid #D9D9D9;
}

.header__link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    text-decoration: none;
}

.header__logo {
    height: 30px;
    width: auto;
}

.header__title {
    color: #0D0D0D;
    font-weight: bold;
    font-size: 26px;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    padding: 40px max(20px, 25vw - 200px);
    border-top: 1px solid #D9D9D9;
}

.footer__links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style-type: none;
}

.footer__sublinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    list-style-type: none;
}

.footer__link {
    color: #0D0D0D;
    font-size: 16px;
    text-decoration: none;
}

.footer__link:hover {
    text-decoration: underline;
}

.footer__link--main {
    font-weight: bold;
}